<html>
<html lang="en">

</html>

<head>
    <title>Katalist course subscription</title>

    <link rel="localization" hreflang="en" href="../../lang/en.json" type="application/vnd.oftn.l10n+json" />
    <link rel="localization" hreflang="es" href="../../lang/es.json" type="application/vnd.oftn.l10n+json" />
    <link rel="localization" hreflang="pt" href="../../lang/pt.json" type="application/vnd.oftn.l10n+json" />

    <script type="module" src="../../js/pages/payment.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/theme-overrides.css">
    <link rel="stylesheet" href="../../css/utilities/_helper.css">
    <link rel="stylesheet" href="../../css/elements/_colors.css">
</head>

<body onload>
    <header class="container">
        <div class="center">
            <a href="//www.katalystbycodurance.com"><img src="../../img/Katalyst_by_codurance_logo.svg"
                    alt="Katalyst_by_codurance_logo" title="Katalyst_by_codurance_logo" loading="eager"></a>
        </div>
        <div class="line"></div>
    </header>
    <div class="container">
        <h2 id="purchaseSummary" style="color: var(--grey-700);">Purchase processing</h2>
        <br>
        <p><span style="color: var(--orange);" id="label_course"> Course:</span> <span style="color: var(--grey-500)"
                id="courseName"></span> </p>
        <p><span style="color: var(--orange);" id="label_price"> Price:</span> <span style="color: var(--grey-500)"
                id="coursePrice"></span><span style="color: var(--grey-500)"> euros</span></p>
        <br>
        <div id="banner" style="overflow: hidden;justify-content:space-around;">
            <div style="max-width: 20%;max-height: 20%;display: inline-block;">
                <img src="../../img/pay-visa.png" width="64">
            </div>
            <div style="max-width: 20%;max-height: 20%;display: inline-block;">
                <img src="../../img/pay-mastercard.png" width="64">
            </div>
            <div style="max-width: 20%;max-height: 20%;display: inline-block;">
                <img src="../../img/pay-american-ex.png" width="64">
            </div>
        </div>
        <form role="form" id="paycometPaymentForm" action="javascript:customFunction()" method="POST">            
            <input type="hidden" name="courseId" id="input_courseId" value="">
            <input type="hidden" name="amount" id="input_coursePrice" value="">
            <input type="hidden" name="email" id="email" value="">
            <input type="hidden" name="phoneNumber" id="phoneNumber" value="">
            <input type="hidden" name="name" id="name" value="">
            <input type="hidden" name="surname" id="surname" value="">
            <input type="hidden" name="dnicif" id="dnicif" value="">
            <input type="hidden" name="company" id="company" value="">
            <input type="hidden" name="isCompany" id="isCompany" value="">
            <input type="hidden" name="address" id="address" value="">
            <input type="hidden" name="postalCode" id="postalCode" value="">
            <input type="hidden" name="city" id="city" value="">
            <input type="hidden" name="region" id="region" value="">
            <input type="hidden" name="country" id="country" value="">
            <input id="jetID" type="hidden" data-paycomet="jetID" value="egQ3RpfFDCzYtj0I7Lv8u9GEVknbAJqs">
            <div class="form-row">
                <div class="form-group" style="width: 100%;">
                    <label id="label_username" for="username">Full name (on the card)</label>
                    <input id="username" type="text" class="form-control" name="username" data-paycomet="cardHolderName"
                        placeholder="" required="">
                </div> <!-- form-group.// -->
            </div>
            <div class="form-row">
                <div class="form-group" style="width: 80%;">
                    <label id="label_card_number" for="cardNumber">Card number</label>
                    <div id="paycomet-pan" style="height: 50px; padding:0px; "></div>
                    <input id="cardnumber"
                        paycomet-style="border-width: unset; width: 93%; height: 40px; border: none; padding: var(--space-s); border-radius: 3px; font-size: var(--fs--1); padding: var(--space-s);border-color:rgb(250,250,251) ;black;border-style:solid;"
                        display: inline-block; paycomet-name="pan" paycomet-placeholder="0000 0000 0000 0000 0000">
                </div> <!-- form-group.// -->

                <div class="form-group" style="width: 20%;">
                    <label>CVV</label>
                    <div id="paycomet-cvc2" style="height: 50px; padding:0px;"></div>
                    <input id="cvv2" paycomet-name="cvc2"
                        paycomet-style="width: 98%; height: 40px; border: none; padding: var(--space-s); border-radius: 3px; font-size: var(--fs--1); padding: var(--space-s);border-color:rgb(250,250,251) ;black;border-style:solid;"
                        paycomet-placeholder="CVV2" required="" type="text">
                </div> <!-- form-group.// -->
            </div>

            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <label id="label_expiration">Expiration</label>

                    <select id="select-month" style="width:40%" data-paycomet="dateMonth">
                        <option>MM</option>
                        <option id="option_month_01" value="01">01 - January</option>
                        <option id="option_month_02" value="02">02 - February</option>
                        <option id="option_month_03" value="03">03 - March</option>
                        <option id="option_month_04" value="04">04 - April</option>
                        <option id="option_month_05" value="05">05 - May</option>
                        <option id="option_month_06" value="06">06 - June</option>
                        <option id="option_month_07" value="07">07 - July</option>
                        <option id="option_month_08" value="08">08 - August</option>
                        <option id="option_month_09" value="09">09 - September</option>
                        <option id="option_month_10" value="10">10 - October</option>
                        <option id="option_month_11" value="11">11 - November</option>
                        <option id="option_month_12" value="12">12 - December</option>
                    </select>
                    <span style="width:20%; text-align: center">/</span>
                    <select id="select-year" style="width:40%" data-paycomet="dateYear">
                        <option>YY</option>
                        <option id="option_year_23" value="23">2023</option>
                        <option id="option_year_24" value="24">2024</option>
                        <option id="option_year_25" value="25">2025</option>
                        <option id="option_year_26" value="26">2026</option>
                        <option id="option_year_27" value="27">2027</option>
                        <option id="option_year_28" value="28">2028</option>
                        <option id="option_year_29" value="29">2029</option>
                        <option id="option_year_30" value="30">2030</option>
                        <option id="option_year_31" value="31">2031</option>
                        <option id="option_year_32" value="32">2032</option>
                    </select>
                </div>
                <div id="paymentErrorMsg" class="errorMsg"></div>
                <div class="center">
                    <button id="button_confirm_purchase" class="subscribe btn btn-primary btn-block" type="submit">
                        Confirm purchase</button>
                </div>
        </form>
        <script>
            async function customFunction() {
                payment = await import("../../js/pages/payment.js")
                payment.submitForm()
            }
        </script>        

        </div> <!-- card-body.// -->
    </div>
    </div>
</body>

<style>
    label {
        color: var(--grey-700);
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
    }


    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--grey-300);
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--grey-300);
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--grey-300);
    }

    .form-row {
        display: flex;
    }

    .form-group {
        padding: 5px;
        width: 50%;
    }

    .form-group input {
        width: 100%;
    }

    .errorMsg {
        border: none;       
        font-size: var(--fs--1);
        color: red; 
        align-items: center;       
    }
</style>
<script src="https://api.paycomet.com/gateway/paycomet.jetiframe.js?lang=en"></script>
</html>