<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Katalyst course payment error</title>
      <link rel="localization" hreflang="en" href="../../lang/en.json" type="application/vnd.oftn.l10n+json" />
      <link rel="localization" hreflang="es" href="../../lang/es.json" type="application/vnd.oftn.l10n+json" />
      <link rel="localization" hreflang="pt" href="../../lang/pt.json" type="application/vnd.oftn.l10n+json" />
      <script type="module" src="../../js/pages/error.js"></script>      
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/theme-overrides.css">
      <link rel="stylesheet" href="../../css/utilities/_helper.css">
      <link rel="stylesheet" href="../../css/elements/_colors.css">
</head>

<body>
  <header class="container">
    <div class="center">
      <a href="//www.katalystbycodurance.com"><img src="../../img/Katalyst_by_codurance_logo.svg"
          alt="Katalyst_by_codurance_logo" title="Katalyst_by_codurance_logo" loading="eager"></a>
    </div>
    <div class="line"></div>
  </header>
  <div class="container">
    <h2 id="subscription_has_not_be_made"></h2>
    <br>
    <p id="message" style="color: red"></p>
    <br>
    <p><span id="try_to_subscribe_the_course_from">try to subscribe to the course from </span> <a id="this_website" href="https://www.codurance.com/"">this website</a></p> 
    
  </div>
</body>
</html>